<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Sign Up </title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
</head>
<body>
  <div class="container">
    <h3>Sign Up</h3>
    <form method="post" action="/api/auth/register">
      <div>
        <label for="Name" class="form-label">Full Name : </label>
        <input type="text" id="Name" placeholder="Enter Your Name" class="form-control" name="user[name]" required>
      </div>
      <div>
        <label for="email" class="form-label">Email : </label>
        <input type="email" id="email" class="form-control" placeholder="Enter Your Email" name="user[email]" required>
      </div>
      <div>
         <label for="pass" class="form-label">Password : </label>
        <input type="password" id="pass" class="form-control" placeholder="Enter Your Password" name="user[password]" required>
      </div>
      <button class="btn btn-success">Sign Up</button>
    </form>
  </div>



  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js" integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI" crossorigin="anonymous"></script>
</body>
</html>